@use "../sass/variables" as *;
@use "../sass/mixins" as *;

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
  

  th {
    border: 1px solid $blue-500;      
    text-align: center;
    padding: 15px;
    color: white;
  }

  td {
    border: 1px solid $blue-500;
    padding: 15px;
    text-align: center;
  }

  th {
    background-color: $blue-700;
  }
}