@use "../sass/variables" as *;
@use "../sass/mixins" as *;

.title {
  @include heading($fs-3xl, 700, $primary-500);
}

.container {
  @include flex-center;
  flex-direction: column;
  background: white;
  border-radius: $radius-lg;
  padding: $space-lg;
  box-shadow: $shadow-md;
  margin-bottom: $space-lg;
  width: 100%;
}

.deleteBtn {
  @include button-danger;
  padding: $space-lg;
  font-size: $fs-small;
  margin: 15px
}