@use "../sass/variables" as *;
@use "../sass/mixins" as *;

.header {
  @include flex-between;
  background: white;
  padding: $space-xl $space-lg;
  border-radius: $radius-lg;
  
  box-shadow: $shadow-md;

  h1 {
    font-family: $font-primary;
    @include heading($fs-3xl, 700, $primary-500);
  }
}

.logo {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: $radius-md;
}
