@use "../sass/variables" as *;
@use "../sass/mixins" as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        height:auto;
        margin: 20px;
    }

    h1{
        font-family: $font-primary;
        color: $blue-700;
        font-weight: 700;
        font-size: 3rem;
    }
}