@use "../sass/variables" as *;
@use "../sass/mixins" as *;

.container {
  @include flex-center;
  min-height: 100vh;
  background: linear-gradient(135deg, $primary-500 0%, $accent-500 100%);
  padding: $space-lg;
}

.loginpage {
  width: 100%;

  @include flex-center;
  flex-direction: column;

  h1 {
    @include heading($fs-3xl, 700, $primary-500);
    margin-bottom: $space-lg;
  }
}
