@use "../sass/variables" as *;
@use "../sass/mixins" as *;

.loginpage {
  @include flex-center;
  flex-direction: column;
  h1{
    font-size: 2rem;
    color: $green-600;
  }
  form {
    @include flex-center;
    flex-direction: column;
    width: auto;
    border: 1px solid $blue-700;
    border-radius: 5px;
    box-shadow: 4px 4px 5px 0px rgba(15, 51, 64, 0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(15, 51, 64, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(15, 51, 64, 0.75);
    label {
      margin: 5px;
      font-family: $font-primary;
      font-size: $fs-small;
      font-weight: 700;
      input {
        margin: 5px;
      }
    }
    .button {
      @include button($green-700);
      margin: 5px;
    }
  }
}
