@use "../sass/variables" as *;
@use "../sass/mixins" as *;

// All styling for main.module.scss should be in other files:
// - Layout: common.module.scss
// - Utilities: _globals.scss
// This file is kept for backwards compatibility but is intentionally empty
